body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

.fullcontainer {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.bgfundo {
  background: url(../img/pizzaFundo.png) no-repeat center/cover;
  width: 100%;
  height:  700px;
}

header {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.8) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.8) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -moz-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.8) 60%,
    rgba(0, 0, 0, 0) 100%
  );
}

.container {
  max-width: 1073px;
  margin: 0 auto;
}
.main-navigation {
  display: flex;
  align-items: center;
}

.main-navigation ul {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 0;
}

.main-navigation a {
  color: #fff;
  display: block;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  font-family: Helvetica, sans-serif;
  line-height: 1.3125;
  outline-offset: -1px;
  border-bottom: solid 3px transparent;
}

.main-navigation a:hover,
.main-navigation a:focus {
  border-color: #2a764f;
}

.site-header-main {
  display: flex;
  justify-content: space-between;
  height: 125px;
}

.sec-menu {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sec-menu ion-icon {
  font-size: 25px;
}

#btnZap {
  background: #2a764f;
  border-radius: 65px;
  padding: 0px 15px;
  font-size: 20px;
  font-weight: bolder;
  height: 40px;

  display: flex;
  align-items: center;
  gap: 7px;
}

.Zap {
  text-decoration: none;
  color: #fff;
}

.iFood {
  z-index: 10;
  position: fixed;
  right: 0;
  top: 200px;
  filter: drop-shadow(-2px 4px 6px black);
}

#BoasVindas {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 5px;
  background: #f6f6f6;
}

#BoasVindas img {
  padding: 0 100px;
}

#TextoBoasVindas {
  max-width: 600px;
  padding-right: 100px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#TextoBoasVindas h4 {
  text-transform: uppercase;
  font-size: 16px;
  margin: 0;
  padding-top: 30px;
  font-family: "Times New Roman", Times, serif;
}

#TextoBoasVindas h3 {
  text-transform: uppercase;
  font-weight: 900;
  color: #2a764f;
  font-size: 23px;
  margin-bottom: 0;
  margin-top: 23px;
}

#TextoBoasVindas p {
  margin-bottom: 0;
}

#cardapio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cardapio img {
  padding: 36px 0 0 0;
}

#cardapio div img {
  padding: 0;
}

#cardapio h2 {
  color: #c3322a;
  text-transform: uppercase;
  font-size: 28px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0 0 7px 0;
}

.btnCardapio {
  text-decoration: none;
  color: #fff;
  background:#2a764f;
  padding: 10px 20px;
  border-radius: 50px;
  border-bottom: 3px solid #d9d9d9;
  font-family: sans-serif;
}

#pizzas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
}

#delivery {
  max-height: 270px;
  min-width: 1073px;
  background: #ebe7db;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 110px;
  text-align: center;
}

#delivery h1 {
  text-transform: uppercase;
  color: #c3322a;
  font-weight: 900;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#delivery .sec-menu {
  justify-content: center;
  padding: 10px;
}

#icone {
  display: flex;
  justify-content: center;
  gap: 85px;
  margin: 20px 0;
}

.itens {
  max-width: 250px;
  text-align: center;
}

#contato iframe {
  position: absolute;
}

#contato {
  display: flex;
  justify-content: center;
}

.forms {
  z-index: 2;
  width: 530px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  display: block;
  background: #fff;
  padding: 48px 22px;
  text-align: center;
  text-transform: uppercase;
}

.forms h2 {
  color: #2a764f;
  font-size: 28px;
  line-height: 80px;
  margin: 0;
}

.forms p {
  margin: 0;
  margin-top: -12px;
  margin-bottom: 13px;
}

.forms small {
  color: #333;
  font-size: 14px;
}

.forms input,
.forms textarea {
  padding: 0 16px;
  line-height: 36px;
  background: transparent;
  border-radius: 12px;
  border: solid 2px #999;
  font-weight: 400;
  font-size: 14px;
  width: 80%;
  margin-bottom: 20px;
}

.forms form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forms input[type="submit"] {
  background: #2a764f;
  background-color: #2a764f;
  width: 155px;
  border-radius: 50px;
  color: #fff;
  font-style: 700;
  margin-top: 20px;
}

footer {
  background: #2a764f;
  min-height: 400px;
  margin-top: -255px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

footer #dados{
  display: flex;
  margin: 0 14%;
  justify-content: space-between;
}

#dados p,
#dados h4 {
  margin: 0;
}

#dados h4{
  margin-top: 10px;
}

footer #dados:first-child {
  margin-left: 20%;
}

#copyright {
  text-align: center;
  margin-top: 100px;
}